{% load i18n %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Optioneel: Je kunt hier een logo toevoegen als je dat wilt -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% if not user.groups.all.0.name == 'Public' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin' %}">Admin</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'manage_profile' %}">Manage Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'notifications' %}">Notifications</a>
                    </li>

                    {% if user.is_superuser and user.userprofile.support_tickets_enabled %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_tickets' %}">
                            <i class="fas fa-headset me-1"></i>Support Tickets
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'export_data' %}">Export Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'factory_map' %}">
                            <i class="fas fa-map-marked-alt me-1"></i>Factory Map
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  
    </nav>  